<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Adder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Adicionar Contato</h1>
    <form action="{{ url_for('add_contact') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" id="telefone" required>
        <br>
        <button type="submit">Adicionar</button>
    </form>
    <h2>Lista de Contatos</h2>
    <ul>
        {% for contato in contatos %}
            <li>{{ contato.nome }} - {{ contato.telefone  }}</li>
        {% endfor %}
    </ul>
</body>
</html>